<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <nav class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand" routerLink="/home"
                        routerLinkActive="active">
                        <!-- <img src="images/images-logo.png" alt=""> -->
                        <span>Covtrack</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <span><i class="fa fa-tachometer"></i></span>
                                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                                    Dashboard </a>
                            </li>
                            <!-- <li class="nav-item">
                                <span><i class="fas fa-layer-group"></i></span>
                                <a class="nav-link" href="widgets.html">Widget</a>
                            </li> -->
                            <li class="nav-item">
                                <span><i class="fa fa-globe"></i></span>
                                <a class="nav-link" routerLink="/worldwide" routerLinkActive="active">
                                    World Wide </a>
                            </li>
                            <li class="nav-item">
                                <span><i class="fa fa-area-chart"></i></span>
                                <a class="nav-link" routerLink="/graphical" routerLinkActive="active">
                                    Charts </a>
                            </li>
                            <li class="nav-item">
                                <span><i class="fa fa-address-book-o"></i></span>
                                <a class="nav-link" routerLink="/about" routerLinkActive="active">
                                    About Us </a>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <span><i class="fas fa-globe-europe"></i></span>
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    Continent
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="world.html">World</a>
                                    <a class="dropdown-item" href="asia.html">Asia</a>
                                    <a class="dropdown-item" href="europe.html">Europe</a>
                                    <a class="dropdown-item" href="africa.html">Africa</a>
                                    <a class="dropdown-item" href="australia.html">Australia</a>
                                    <a class="dropdown-item" href="south-america.html">South America</a>
                                    <a class="dropdown-item" href="north-america.html">North America</a>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>