<div class="footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="copy_right">
                    By A K Pandey
                </div>
            </div>
            <div class="col-xl-6 col-md-6 text-lg-right text-center">
                <div class="social">
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url="><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/intent/tweet?url="><i class="fa fa-twitter"></i></a>
                    <a id="fbShare" href="https://www.facebook.com/sharer.php?u=" target="_blank"><i
                            class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>